/* style.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #f5f5f5;
}

header {
	padding: 138px 0 90px;
	background-image: url("../img/kegs.jpg");
    background-color: #011627;
} 

h4 {
	color: #000000;
    font-size: 28px;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
    padding:10px;
    
}

.title {
	color: #35A7FF;
	font-size: 60px;
	padding: 40px;
	background-color: #011627;
	opacity: 0.9;
	font-weight: 600;
	font-family: 'Bitter', serif;
}

section {
    padding: 100px 0;
}

.card-header {
	background-color:#35A7FF;
}

.front {
	background-color: #810e05;
}

.log-title {
    text-align: center;
	font-style: bold;
	padding-bottom: 25px;
}

.nav-bar {
	margin-bottom: 0%;
	background-color: #181818;
}

.log {
    width: 400px;
	margin: 0 auto;
    padding: 30px;   
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.add {
	width: 400px;
	margin: 0 auto;
    padding: 30px;   
	background-color: #ffffff; 
	box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}


.log input {
    font-family: Arial, Helvetica, sans-serif;
}

.icon {
	text-align: center;
	background-color: #35A7FF;
	padding: 5px;
	border-radius: 100%;
}

.icon-log {
	text-align: center;
}

.register {
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    margin-bottom: 30px;
	background-color: #ffffff;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    
}

.register input {
    font-family: Arial, Helvetica, sans-serif;
}


/* inventory admin */

.admin {
	margin-left: 8%;
}

.profile {
	width: 400px;
    margin: 0 auto;
    padding: 30px;
    margin-bottom: 30px;
	background-color: #ffffff;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.userheader {
	float: right;
	background-color: #dadada;
	margin-top: 1%;
	margin-right: 2%;
	padding: 5px;
}

#pro-title{
	margin: 5% 0 5% 0;
	text-align: center;
}

.card {
	margin: 0 auto; 
	float: none; 
	margin-bottom: 10px; 
	padding: 2%;
	border: 1px solid #000000;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

.card h2 {
	text-align: center;
}


.info-box {
	text-align: center;

}

.card h1 {
	text-align: center;
}


#thumbnail {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

.card:hover {
	transform: scale(1.1);
}

.myButton {
	-moz-box-shadow: 3px 5px 6px 0px #8a2a21;
	-webkit-box-shadow: 3px 5px 6px 0px #8a2a21;
	box-shadow: 3px 5px 6px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:40px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.myButton:active {
	position:relative;
	top:1px;
}