/* style.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0;
    background-color: #f5f5f5;
}

header {
	padding: 146px 0 90px;
	background-image: url("../img/kegs.jpg");
    background-color: #011627;
} 

.title {
	color: #35A7FF;
	font-size: 60px;
	padding: 40px;
	background-color: #011627;
	opacity: 0.9;
	font-weight: 600;
	font-family: 'Bitter', serif;
}

section {
    padding: 100px 0;
}

.front {
	background-color: #810e05;
}

#log-title {
    text-align: center;
    font-style: bold;
}

.nav-bar {
	margin-bottom: 0%;
	background-color: #181818;
}

.navbar {
	background-color: #181818;
}

.search {
	float: right;
	padding: 8px 16px;
	border: 1.5px solid #011627;
	border-radius: 2px;
}

.log {
    width: 400px;
	margin: 0 auto;
    padding: 30px;   
    background-color: #ffffff; /* MAASTRICHT BLUE */
    /*box-shadow: 4px 8px  #210934; */
}

.log input {
    font-family: Arial, Helvetica, sans-serif;
}

.icon {
	text-align: center;
}

.register {
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    margin-bottom: 30px;
    background-color: #ffffff;
    
}

.register input {
    font-family: Arial, Helvetica, sans-serif;
}



.register input {
    font-family: Arial, Helvetica, sans-serif;
}

/* inventory admin */

.admin {
	margin-left: 8%;
}

.userheader {
	
}

.myButton {
	-moz-box-shadow: 3px 5px 6px 0px #8a2a21;
	-webkit-box-shadow: 3px 5px 6px 0px #8a2a21;
	box-shadow: 3px 5px 6px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:40px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.myButton:active {
	position:relative;
	top:1px;
}